body {
  background-color: green;
  background-image: url(b839bd4f79c8c43d9ab1a5d2f7dd6649.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

